:root {
    --burgundy: #662a1a;
    --burnt: #ae5127;
    --light-beige: #E6C99C;
    --cream: #FFF9EF;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    background-color: var(--cream);
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: "Italiana", serif;
    text-transform: uppercase;
}

h1 {
    font-size: 90px;
    font-weight: 200;
    line-height: 70px;
}

/*-------------NAV BAR-----------------*/
.nav-top {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 50px 0 50px;
    z-index: 30;
}

.nav-top i, .right-side li a {
    color: var(--cream);
}

.logo-nav img {
    width: 110px;
    height: 120px; 
}

.left-side, .right-side ul {
    display: inline-flex;
}

.left-side i {
    padding-right: 10px;
}

.right-side i {
    padding-left: 10px;
}

.nav-top li {
    list-style: none;
}

.right-side li a {
    text-decoration: none;
    padding-left: 40px;
    font-size: 11px;
    text-transform: uppercase;
}

.corner {
    padding-right: 30px;
}

.logo-nav {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.nav-top i:hover, .logo-nav:hover {
    cursor: pointer;
}

/*-------------HERO PAGE-----------------*/
.home {
    height: 100vh;
    position: relative;
}

.slide {
    position: absolute;
    top: -67px;
    transition: .5s;
    height: 100vh;
    width: 100vw;
    display: inline-flex;
    animation: slide 36s ease infinite;
    position: relative;
}


/*---------PREVIOUS AND NEXT BUTTON---------*/
/*.select {
    z-index: 15;
    color: var(--cream);
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8);
}

.next {
    top: 40%;
    right: 5%;
    transform: translate(-5%, -40%);
}

.prev {
    top: 40%;
    left: 5%;
    transform: translate(-5%, -40%);
}

.arrow-forward, .arrow-backward {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.next:hover, .prev:hover {
    cursor: pointer;
}

.gone {
    display: none;
} */

/*----HERO IMAGES--------*/

.first-slide img, .second-slide img, .third-slide img {
    height: 100vh;
    width: 100vw;
}

.screen {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .4;
    z-index: 11;
}

.dots {
    position: absolute;
    top: 85%;
    left: 53%;
    transform: translate(-53%, -85%);
    z-index: 15;
}

.show-top {
    transform: translateX(-100%);
    z-index: 10;
}

.circle {
    width: 8px;
    height: 8px;
    border: .5px solid var(--cream);
    border-radius: 50%;
    margin-right: 8px;
    display: inline-flex;
}

.circle {
    cursor: pointer;
}

.active {
    background-color: var(--cream);
}

/*-------------POPULAR ITEMS-----------------*/

.popular-items {
    width: 60%;
    margin: auto;
    margin-top: 8em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    position: relative;
}

.pic {
    position: relative;
    height: 600px;
}

.pic img {
    height: 100%;
    width: 100%;
}

.roll {
    position: absolute;
    background-color: transparent;
}

.spin-circle {
    width: 385px;
    height: 385px;
    border-radius: 50%;
    border: 1.5px dashed #000000;
    transform: translate(-70%, -30%);
    top: 30%;
    left: 70%;
    animation: spin 30s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.reg-circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px solid #000000;
    transform: translate(10%, -120%);
    top: 120%;
    left: -10%;
}

/*-------------LINGERIE HEADING-----------------*/
.lingerie-intro {
    margin: 0 auto;
    width: 70%;
    margin-top: 12em;
    position: relative;
}

.lingerie-heading {
    width: 800px;
    position: absolute;
    top: -50px;
    transform: translateY(-50px);
}

.lingerie-heading h1 {
    font-size: 95px;
}

.lingerie-start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.lingerie-image img {
    width: 400px;
    justify-self: right;
}

.lingerie-content p {
    width: 70%;
    font-size: 15px;
    line-height: 16px;
}

.btn {
    width: 35%;
    height: 40px;
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: -1px;
    border: 2px solid #0e0e0e;
    background-color: transparent;
    color: #000000;
    outline: none;
    text-transform: uppercase;
}

.btn:hover {
    cursor: pointer;
}

.lingerie-absolute {
    position: absolute;
    top: 75%;
    right: 10%;
}

.lingerie-absolute img {
    width: 380px;
    height: 210px;
}

/*-------------SLEEPWEAR SECTION-----------------*/
.sleep-wear {
    margin-top: 15em;
    width: 100%;
    padding: 35px 0;
    background-color: #F2DFC3;
}

.all-fabric {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.fabric {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.fabric img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.sleep-wear-text {
    width: 100%;
    text-align: center;
    margin-top: 4e
}

.sleep-wear-content {
    width: 30%;
    margin: 0 auto;
}

.sleep {
    font-size: 14px;
    width: 45%;
}

/*-------------LINGERIE COLLECTION-----------------*/

.collection {
    width: 100%;
    text-align: center;
    margin-top: 10em;
}

.collection-content {
    width: 50%;
    margin: 0 auto;
    
}




